<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <link rel="stylesheet" href="./src/style/style.css">
</head>
<body>
  <div id="app">
    {{> "./src/templates/login.hbs"}}
    {{> "./src/templates/main.hbs"}}
  </div>
</body>
</html>