<div id="login" class="hidden">
  <div class="login-field">
    <input type="text" class="login-name-input" data-role="login-name-input" placeholder="никнейм">
  </div>
  <div class="login-field">
    <button class="login-submit" data-role="login-submit">Войти</button>
  </div>
  <div class="login-error" data-role="login-error"></div>
</div>